doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width')
		link(rel='stylesheet', href='css/style.css')
		title 2GIS iOS

	body
		#main
		script(src='js/application.js')